In [10]:
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
import numpy as np

In [5]:
df= pd.read_csv("meetup.csv")

In [6]:
df.head(2)

,Unnamed: 0,response,rsvp_id,visibility,guests,Group_name,Group_ID,Group_Country,Topic,event_name,event_url,member_id,member_photo,member_name,event_date,event_time
0,0,no,1883963961,public,0,Northside Explorers (Thornbury/ Northcote/ Fit...,23412765,au,[Wine,Online Trivia via Zoom,https://www.meetup.com/Northside-Explorers/eve...,286812947,https://secure.meetupstatic.com/photos/member/...,Eilish,2021-08-19,07:42:48
1,1,yes,1884076700,public,0,Product Talks Melbourne,33585358,au,[Innovation,AMA with Agnes Misiurny,https://www.meetup.com/Product-Talks-Melbourne...,41344852,https://secure.meetupstatic.com/photos/member/...,Luke Kenyon,2021-08-19,07:42:48

In [8]:
df = df.drop (columns = "Unnamed: 0")

In [9]:
df.head(2)

,response,rsvp_id,visibility,guests,Group_name,Group_ID,Group_Country,Topic,event_name,event_url,member_id,member_photo,member_name,event_date,event_time
0,no,1883963961,public,0,Northside Explorers (Thornbury/ Northcote/ Fit...,23412765,au,[Wine,Online Trivia via Zoom,https://www.meetup.com/Northside-Explorers/eve...,286812947,https://secure.meetupstatic.com/photos/member/...,Eilish,2021-08-19,07:42:48
1,yes,1884076700,public,0,Product Talks Melbourne,33585358,au,[Innovation,AMA with Agnes Misiurny,https://www.meetup.com/Product-Talks-Melbourne...,41344852,https://secure.meetupstatic.com/photos/member/...,Luke Kenyon,2021-08-19,07:42:48

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2005 entries, 0 to 2004
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   response       2005 non-null   object
 1   rsvp_id        2005 non-null   int64
 2   visibility     2005 non-null   object
 3   guests         2005 non-null   int64
 4   Group_name     2005 non-null   object
 5   Group_ID       2005 non-null   object
 6   Group_Country  2005 non-null   object
 7   Topic          2005 non-null   object
 8   event_name     2005 non-null   object
 9   event_url      2005 non-null   object
 10  member_id      2005 non-null   object
 11  member_photo   2005 non-null   object
 12  member_name    1825 non-null   object
 13  event_date     2005 non-null   object
 14  event_time     2005 non-null   object
dtypes: int64(2), object(13)
memory usage: 235.1+ KB

In [12]:
df["event_date"]= pd.to_datetime(df["event_date"])

In [14]:
df['event_month'] = pd.to_datetime(df['event_date'], format='%Y-%m-%d').dt.strftime('%Y-%m')

In [15]:
df.head()

,response,rsvp_id,visibility,guests,Group_name,Group_ID,Group_Country,Topic,event_name,event_url,member_id,member_photo,member_name,event_date,event_time,event_month
0,no,1883963961,public,0,Northside Explorers (Thornbury/ Northcote/ Fit...,23412765,au,[Wine,Online Trivia via Zoom,https://www.meetup.com/Northside-Explorers/eve...,286812947,https://secure.meetupstatic.com/photos/member/...,Eilish,2021-08-19,07:42:48,2021-08
1,yes,1884076700,public,0,Product Talks Melbourne,33585358,au,[Innovation,AMA with Agnes Misiurny,https://www.meetup.com/Product-Talks-Melbourne...,41344852,https://secure.meetupstatic.com/photos/member/...,Luke Kenyon,2021-08-19,07:42:48,2021-08
2,yes,1884076873,public,0,The Thalesians,1435784,us,group_stateNY,Webinar: Bilal Hafeez (Macro Hive): How Macro ...,https://www.meetup.com/thalesians/events/28019...,305576915,"""member_name"":""Martin Richter""}",NaN,2021-08-19,07:42:48,2021-08
3,yes,1884076719,public,0,Comment créer son entreprise - IFJ,30484029,ch,[Small Business,L’amour du risque,"""time"":1632846600000",35182672,https://secure.meetupstatic.com/photos/member/...,Clare,2021-08-19,07:42:48,2021-08
4,yes,1884076769,public,0,French Berlin,27281862,de,[French Language,Parlons français ! Café philosophie & politique,https://www.meetup.com/FrenchBerlin/events/280...,314005160,https://secure.meetupstatic.com/photos/member/...,Olena,2021-08-19,07:42:48,2021-08

In [18]:
df["Group_Country"].value_counts()

gb                                              333
us                                              333
au                                              184
de                                              133
group_id:33276575                               112
                                               ...
mu                                                1
group_urlname:Southington-Area-Movies-Meetup      1
group_urlname:CordyKet                            1
rs                                                1
group_id:35200919                                 1
Name: Group_Country, Length: 118, dtype: int64